
<h1> Listes des Utilisateurs </h1>
<h3>Total : {{users.length}} </h3>

<!--<pagination-controls (pageChange)="page = $event" (pageBoundsCorrection)="pageChanged($event)" previousLabel="précédent" nextLabel="suivant"></pagination-controls>-->
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">identifiant</th>
    <th scope="col">mail</th>
    <th scope="col">prenom</th>
    <th scope="col">nom</th>
    <th scope="col">Actions</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users| paginate : {itemsPerPage:50, currentPage : page }">
    <th scope="row">{{user._id}}</th>
    <td>{{user.mail}}</td>
    <th>{{user.prenom}}</th>
    <th>{{user.nom}}</th>
    <td>
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button *ngIf="!user.isAdmin" class="btn btn-danger" (click)="onDelete(user._id)">Supprimer</button>
        <p *ngIf="user.isAdmin" ><strong class="d-inline-block mb-2 text-primary">Admin</strong></p>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="page = $event" (pageBoundsCorrection)="pageChanged($event)" previousLabel="précédent" nextLabel="suivant"></pagination-controls>

