<div class="page-accueil">

  <aside class="banner negativ_rounded_bottom">
    <div class="banner-titles">
      <h1 class="underline-deco">RECHERCHER UN BIEN</h1>
    </div>
    <div class="div-filtrator">
      <app-filter class="filtrator"></app-filter>
    </div>

  </aside>

  <section class="corp-page-accueil">


    <aside class="sections-page last-articles grey">
      <h3 class="title-Section underline-deco"> Les derniers articles </h3>
      <div>
        <app-last-articles></app-last-articles>
      </div>
    </aside>

    <aside class="sections-page last-immo grey">
      <h3 class="title-Section underline-deco"> Les derniers logements </h3>
      <div>
        <app-last-immo></app-last-immo>
      </div>
    </aside>

    <aside class="whyUs sections-page white rounded_top negativ_rounded_bottom">
      <div>
        <h3 class="underline-deco">Pourquoi nous choisir ? </h3>
        <app-whyus></app-whyus>
      </div>
    </aside>

    <aside class="google-map sections-page grey">
      <div>
        <app-new-letter></app-new-letter>
      </div>
    </aside>


  </section>

</div>
